html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: subpixel-antialiased;
	-o-font-smoothing: subpixel-antialiased;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
}

main {
	display: block;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

code,
kbd,
samp,
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}


abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

img {
	border-style: none;
}

textarea {
	overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

a {
	background-color: transparent;
}

a.no-style {
	color: inherit;
}

a.no-style:link,
a.no-style:visited,
a.no-style:hover,
a.no-style:active {
	color: inherit;
	text-decoration: none;
}

a.no-style.underline:hover {
	color: inherit;
	text-decoration: underline;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}


[hidden] {
	display: none;
}

.light {
	font-weight: lighter !important;
}

.boldest {
	font-weight: 900 !important;
}

.hidden {
	display: none;
}

.text-white {
	color: #fff;
}

.small-text {
	font-size: 0.75em !important;
}

.normal-text {
	font-size: 1em !important;
}

.big-text {
	font-size: 1.125rem !important;
}

.no-margin {
	margin: 0;
}

.no-overflow,
.no-overflow-x {
	overflow-x: hidden;
}

.no-overflow,
.no-overflow-y {
	overflow-y: hidden;
}

.overflow,
.overflow-x {
	overflow-x: auto;
}

.overflow,
.overflow-y {
	overflow-y: auto;
}

.no-shrink {
	flex-shrink: 0;
}

.transit-1 {
	transition: all 0.1s ease-in-out;
}

.transit-2 {
	transition: all 0.2s ease-in-out;
}

.op-0 {
	opacity: 0;
}

.op-50 {
	opacity: 0.5;
}

.op-67 {
	opacity: 0.67;
}

.op-100 {
	opacity: 1;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cursor-default {
	cursor: default !important;
}

.cursor-pointer {
	cursor: pointer !important;
}

.no-resize {
	resize: none;
}
